/* =======================
   RESET BÁSICO
======================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006A4E;
    color: #ffffff;;
}

/* =======================
   HEADER
======================= */
header {
    width: 100%;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    /* LOGO ←→ MENU */
    align-items: center;

    background-color: #00573E;
    /* tom mais escuro */
}

/* LOGO */
.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header-logo h1 {
    font-size: 28px;
    font-weight: bold;
}

/* MENU */
nav ul {
    display: flex;
    /* coloca links lado a lado */
    gap: 32px;
    /* espaço entre links */
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #b5f5d2;
    text-decoration: underline;
}

/*--------------------------------------------------*
/*Main Hero Section*/
main{
    margin: 0 auto;
    width: 85%;
    max-width: 1200px;
}

.hero {
    position: relative;
    height: 100vh;
    background: url('../../../public/images/imagem-sinalizar.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .overlay {
      position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45); /* ESCURECE a imagem */
}

#main-hero-h1 {
    position: relative;
  color: #fff;
  font-size: 4rem;
  z-index: 2;
}

/* =======================
   RESPONSIVO
======================= */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        /* quebra para vertical no mobile */
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
}